.player-info-component {
  border: 1px solid #000;
}

.player-avatar {
  width: 100px;
}

.player-info-title {
  font-size: 28px;
}

.player-info-score {
  display: block;
  font-size: 18px;
}

.player-info-waiting-spinner {
  padding: 55px;
  width: 100px;
}
